body {
    font-family: Aboreto !important;
    padding: 10px;
    background-color: #1e1e1e !important;
    color: #8f9292 !important;
    /* -webkit-background-color: #1e1e1e !important;
    -moz-background-color: #1e1e1e !important;
    -ms-background-color: #1e1e1e !important;
    -o-background-color: #1e1e1e !important; */
}
/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid;
    border-color: #343434;
}



.side_Photo {
    width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 5%;
    margin-top: 10%;
    border-radius: 50%;
    display: block;
    border-color: #343434;
    border-style: solid;
    border-width: 2px;
}

/* Style page content */
.main {
    margin-left: 15% !important;
}

.auto_type {
    text-align: center;
    margin-top: 15%;
    min-height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 20%;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 20%;
    }

    .sidenav a {
        font-size: 18px;
    }
}