body {
    font-family: Consolas, monospace;
    padding: 10px;
    background-color: #0c0f0f !important;
    color: #8f9292;
}

/* .typer {
    font-weight: 200;
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
} */

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 15%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d1111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* The navigation menu links */
.sidenav a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #626767;
}

.side_Photo {
    width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 5%;
    margin-top: 25%;
    border-radius: 50%;
    display: block;
    border-color: #3e4242;
    border-style: solid;
    border-width: 2px;
}

.whoami h1 {
    text-align: center;
    font-family: Consolas;
    background-color: #0c0f0f;
    margin: 5px;
    padding: 5px;
}

.whoami a:hover {
    background-color: #0c0f0f;
}

.whoami_talk {
    text-align: center;
    font-family: Consolas;
    margin: 5px;
    padding: 5px;
    background-color: #0c0f0f;
}

.side_fixed_content {
    font-family: Consolas;
    margin: 5px;
    padding: 5px;
    background-color: #0c0f0f;
}

.footer_my_media {
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #0c0f0f;
}

.footer_my_media a {
    display: inline;
    padding: 5px;
}

.footer_my_media a:hover {
    background-color: #0c0f0f;
}

.footer_my_media span {
    font-family: Consolas;
    margin-left: 10px;
    font-size: 20px;
}

.about_footer_my_media {
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 25px;
}

.footer_img_animation img {
    width: 50px !important;
    height: 50px !important;
}



/* Style page content */
.main {
    margin-left: 125px;
    /* Same as the width of the sidebar */

}

.auto_type {
    text-align: center;
    margin-top: 15%;
    min-height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 20%;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 20%;
    }

    .sidenav a {
        font-size: 18px;
    }
}